h1{
  font-style: oblique;
  text-align: center;
}

body{
  background-color: pink;
}
.alert alert-success{
  width
}

.spinner-border{
  text-align: center;
}
.page-link{
  color: black;
  background-color: white;
  font-size: 30px;

}
.modal-body{
  text-decoration: underline;
  background-color: pink;
  font-size: 30px;
}

.card{

  text-align: center;
}

.carousel{
  width:640px;
  height: 360px; 
}
